<!-- <<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <style>
      body{
    background-color: #cce5ff;

}
   </style>
   <title>Document</title>
</head>
<body>
   <br>
<br><br>
<br>
<br>
<br><br>
   <app-signup></app-signup>
<br>
<br>
<br>
<br>
   <app-login></app-login>
   <br>
<br><br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
<br>
<br>
<br><br>
<br>
<br>
<br><br>
<br>
</body>
</html>
 -->
<br>
<div class="d-flex justify-content-center align-items-center">
   <h1>Welcome to chatscrum</h1>
 <br>
 <br>
 <br>
</div>
 
<router-outlet></router-outlet>