<div class="container.fluid">
    <h1>Create a new account</h1>

    {{userSignupForm.value | json}}
    <form #userSignupForm = 'ngForm'>

        <div class="form-group">
            <label >Full name:</label><br>
            <input type="text" name="email" class="form-control" ngModel><br>
        </div>
        <div class="form-group">
            <label >Email name:</label><br>
            <input type="email" name="fullname" class="form-control" ngModel><br>
        </div>
        <div class="form-group">
              <label >Password:</label><br>
            <input type="password" name="password" class="form-control" ngModel><br>
        </div>
        <div class="form-group">
            <label >User Type:</label><br>
            <select class="custom-select" name="usertype" ngModel>
                <option selected> I am Signing up as</option>
                <option *ngFor='let type of userTypes'>{{ type }}</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Create User</button>
    </form>
</div>
